################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/RoboWaiterWeb/src/RoboWaiterWeb/bin
/RoboWaiterWeb/src/RoboWaiterWeb/obj
