################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/RoboWaiterWeb/src/RoboWaiterWeb/bin
/RoboWaiterWeb/src/RoboWaiterWeb/obj
/RoboWaiterWeb/Backup
.vs
/BusinessLayer/bin
/BusinessLayer/obj
/DataLayer/bin
/DataLayer/obj
/GlobalClasses/obj
/Logger/bin
/Logger/obj
/RoboWaiterWeb/BusinessLayerStandard/bin/Debug/netstandard2.0
/RoboWaiterWeb/BusinessLayerStandard/obj/Debug/netstandard2.0
/RoboWaiterWeb/BusinessLayerStandard/obj
/RoboWaiterWeb/DataLayer/bin/Debug/netstandard2.0
/RoboWaiterWeb/DataLayer/obj
/RoboWaiterWeb/GlobalClassesStandard/bin/Debug/netstandard2.0
/RoboWaiterWeb/GlobalClassesStandard/obj
/RoboWaiterWeb/LoggerStandard/bin/Debug/netstandard2.0
/RoboWaiterWeb/LoggerStandard/obj
/RoboWaiterWeb/TestClass/obj
/RoboWaiterWeb/TestClass
/GlobalClasses/bin
